.profileExperience {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    .profileExperience-header{
        display: flex;
        justify-content: space-between;
        border-bottom:solid 1px rgb(99, 99, 248);
        .profileExperience-header__title {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 20px 20px 20px 20px;
        }
        .profileExperience-header__block {
            margin-right: 30px;
            margin-top:10px;
            .profileExperience-header__btns {
                background-color:white;
                .profileExperience-header__btn{
                    background-color:white;
                    margin: 0px 0px 0px 10px;
                    padding: 10px 10px 10px 10px;
                    color:  rgb(99, 99, 248);
                    font-size: 1.1rem;
                    cursor: pointer;
                    border-radius:10px;
                    &:hover {
                        background-color:black;
                        color: White;
                    }
                }
            }
        }
    }
}