.profileFrends {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    padding: 0px 0px 10px 0px;
    .profileFrends-title {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 10px;
        text-align: center;
        border-bottom:solid 1px rgb(99, 99, 248);
        padding: 10px 0px 10px 0px;  
    }
} 