.companies {
    margin: 100px 0px 140px 0px;
    .companies-container {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        .companies-block {
            width: 20%;
            .companies-block__item {
                width: 100px;
                height: 55px;
                background: rgb(99, 99, 248);
                position: relative;
                cursor: pointer;
                margin: 10px;
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -25px;
                    left: 0;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    border-bottom: 25px solid rgb(99, 99, 248);
                }
                
                &:after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: -25px;
                    left: 0;
                    border-left: 50px solid transparent;
                    border-right: 50px solid transparent;
                    border-top: 25px solid rgb(99, 99, 248);
                }
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $md) and (max-width : $xl) {
    .companies {
        margin-top: 0px;
        margin-bottom: 50px;
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 50px;
        .companies-container {
            width: 100%;
            margin: 0 auto;
            .companies-block {
                width: 20%;
                .companies-block__item {
                    height: 30px;
                }
            }
        }   
    }   
}

@media  (max-width : $lg) {
    .companies {
       display: none;
    }   
}