$backColor : rgb(110, 214, 121);

.background {
    width: 100%;
    .background-container {
        min-height: 150px;
        border-radius: 20px;
        margin: 10px 10px 0px 10px;
        background-color:white;
        .background-user {
            border-bottom:solid 2px white;
            .background-user__block {
                min-height: 70px;
                display: flex;
                justify-content: center;
                background-color:$backColor;
                border-radius: 20px 20px 0px 0px;
                .background-user__block-logo {
                    position: relative;
                    top: 40px;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                }
            }
            .background-user__name {
                text-align: center;
                font-size: 0.8rem;
                margin: 40px 0px 5px 0px;
                cursor: pointer;
            }
            .background-user__profession {
                text-align: center;
                font-size: 0.8rem;
                margin: 5px 0px 5px 0px;
                cursor: pointer;
                color: grey;
            }
        }
        .background-statistics {
            margin: 10px 10px 0px 10px;
            padding-bottom: 10px;
            .background-statistics__block {
                display: flex;
                justify-content:space-between;
                p {
                    color: grey;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .background {
        .background-container {
            .background-statistics {
                margin: 10px 10px 0px 10px;
                padding-bottom: 10px;
                .background-statistics__block {
                    display: flex;
                    margin: 0 auto;
                    width: 55%;
                    justify-content:space-between;
                }
            }
        }
    }
}

@media (min-width : $xs) and (max-width : $md) {
    .background {
        .background-container {
            .background-statistics {
                .background-statistics__block {
                    display: flex;
                    margin: 0 auto;
                    width: 40%;
                    justify-content:space-between;
                }
            }
        }
    }
}