$backColor : rgb(110, 214, 121);

.companyItem {
    width: 33%;
    border-bottom:solid 2px white;
    padding-bottom: 20px;
    .companyItem-block {
        height: 120px;
        background-color:$backColor;
        border-radius: 20px 20px 0px 0px;
        margin: 10px 10px 10px 10px;
        .companyItem-block__cover {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0px 0px;
        }
        .companyItem-block__logo {
            position: relative;
            bottom:  60px;
            border:solid 1px black;
            left:  30px;
            width: 80px;
            height: 80px;
            cursor: pointer;
        }
    }
    .companyItem-name {
        text-align: center;
        font-size: 0.8rem;
        margin: 40px 0px 5px 0px;
        cursor: pointer;
    }
    .companyItem-sphere {
        text-align: center;
        font-size: 0.8rem;
        margin: 5px 0px 5px 0px;
        cursor: pointer;
        color: grey;
    }
    .companyItem-follow {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .companyItem-follow__btn {
            width: 50%;
            border:solid 1px $backColor;
            background-color:white;
            color: $backColor;
            text-transform: uppercase;
            border-radius:20px;
            height: 30px;
            cursor: pointer;
                &:hover {
                    background-color:black;
                    color: white;
                    border:none;
                }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;


@media (min-width : $sm) and (max-width : $md) {
    .company {
        width: 50%;
        padding-bottom: 30px;
    }   
}

@media (min-width : $xs) and (max-width : $sm) {
    .company {
        margin: 0 auto;
        padding-bottom: 30px;
        width: 80%;
    }   
}