.asd {
    position: fixed;
    top:0;
    left: 0;    
    width: 100vw;
    height: 100vw;
    background-color:rgba(0, 0, 0, 0.918);
    display: flex;
    display: none;
    justify-content: center;
    .asd-b {
        margin-top: 60px;
        width: 40%;
        height: 500px;
        border-radius: 20px;
        background-color:white;
        .asd-y {
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: space-between;
            h2 {
                color: black;
            }
        }
        .asd-l {
            padding: 10px 10px 10px 10px;
            height:400px ;
            overflow-y: scroll;
        }
    }
}

.asd.active {
    display: none;
}

    

