$backColor : rgb(110, 214, 121);

.learningItemPageContent {
    padding: 10px 10px 10px 10px;
    width: 100%;
    .learningItemPageContent-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom:solid 1px $backColor ;
    }
    .learningItemPageContent-block {
        padding: 10px 0px 20px 0px;
        margin-bottom: 25px;
        .learningItemPageContent-block__titleDesk {
            padding: 10px 10px 10px 10px;
            font-size: 1.2rem;
            text-transform: uppercase;   
        }
        .learningItemPageContent-block__moreDeskCenter {
            width: 100%;
            display: flex;
            justify-content: center;
            .learningItemPageContent-block__moreDesk {
                padding: 10px 10px 10px 10px;
                margin-left: 10px;
                margin-top: 10px;
                border-radius:10px;
                background-color:white;
                border:solid 1px $backColor ;
                color: $backColor ;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
        }
        .learningItemPageContent-block__textDesk {
            padding: 10px 10px 10px 10px;
            font-size: 1rem;
            color: grey;
        }
        .learningItemPageContent-nav {
            padding: 10px 10px 10px 10px;
            .learningItemPageContent-nav__item {
                padding: 3px 0px 3px 0px;
                color: grey;
                .learningItemPageContent-nav__item-icon {
                    margin-right: 10px;
                    font-size: 1.2rem;
                    color: $backColor ;
                }
            }
        }
    }
    .learningItemPageContent-instructor {
        padding-top: 10px;
        padding-bottom: 20px;
        .learningItemPageContent-instructor__title {
            padding: 10px 10px 10px 10px;
            text-transform: uppercase;
        }
        .learningItemPageContent-instructor__block {
            display: flex;
            padding: 10px 10px 10px 10px;
            .learningItemPageContent-instructor__block-img {
                width: 50px;
                height: 50px;
            }
        }
        .learningItemPageContent-instructor__blocks {
            padding: 0px 10px 10px 10px;
            .learningItemPageContent-instructor__block-name {
                margin-bottom: 3px;
                padding-bottom: 4px;
                color: grey;
            }
            .learningItemPageContent-instructor__block-see {
                color: grey;
                cursor: pointer;
                background-color:white;
                width: 100%;
                border:solid 1px $backColor ;
                padding: 5px 0px 5px 0px;
                border-radius:10px; 
                color: $backColor ;
                &:hover {
                    background-color:black;
                    color: white;   
                }
            }
            .learningItemPageContent-instructor__block-profession {
                margin-bottom: 3px;
                color: grey;
                padding-bottom: 5px;
            }
        }
    }
}

.desk {
    border-bottom:solid 1px $backColor ;
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;


@media (min-width : $xs) and (max-width : $sm) {
    .learningItemPageContent {
        .learningItemPageContent-container {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
}