.learningItemPlayer {
    width: 100%;
    position: fixed;
    min-height: 150px;
    background-color:black;
    left: 0px;
    top: 60px;
    .learningItemPlayer-header {
        width: 100%;
        height: 36px;
        border-top:solid 1px white;
        background-color: rgb(99, 99, 248);
        .learningItemPlayer-header__nav {
            .learningItemPlayer-header__nav-block {
                display: flex;     
                width: 100%;
                justify-content: center;           
                .learningItemPlayer-header__nav-item {
                    padding: 8px 10px 20px 10px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover {
                        border-top:solid 3px black;
                    }
                }
            }
        }
    }
    .learningItemPlayer-navbar {
        height: 60px;
        opacity: 0.8;
        z-index: 1;
        width: 100%;
        background-color:black;
        display: flex;
        display: none;
        justify-content: space-between;
        .learningItemPlayer-nav {
            width: 20%;
            .learningItemPlayer-nav__oppen {
                font-size: 1rem;
                height: 100%;
                color: white;
                border:solid 1px white;
                background-color:black;
                cursor: pointer;
                text-transform: uppercase;
                width: 100%;
                .learningItemPlayer-nav__oppen-icon {
                    margin-right: 10px;
                }
            }
            .learningItemPlayer-nav__content {
                height: 391px;
                overflow-y: scroll;
                background-color:black;
                display: none;
                .learningItemPlayer-nav__course {
                    padding: 10px 10px 10px 10px;
                    .learningItemPlayer-nav__course-name {
                        color: white;
                        padding-bottom: 3px;
                        font-size: 1rem;
                    }
                    .learningItemPlayer-nav__course-direction {
                        color: grey;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .learningItemPlayer-navbar__title {
            width: 60%;
            display: flex;
            border-top:solid 1px white;
            border-bottom:solid 1px white;
            padding: 15px 10px 5px 10px;
            .learningItemPlayer-navbar__title-name {
                color: white;
                font-size: 1.2rem;
                padding: 0px 5px 0px 5px;
            }
            .learningItemPlayer-navbar__title-direction {
                color: grey;
                font-size: 1.2rem;
                padding: 0px 5px 0px 5px;
            }
        }
        .learningItemPlayer-btns {
            width: 20%;
            border:solid 1px white;
            padding: 20px 0px 10px 0px;
            display: flex;
            justify-content: center;
            .learningItemPlayer-btn {
                display: flex;
                font-size: 1rem;
                color: white;
                background-color:black;
                padding: 0px 10px 0px 10px;
                cursor: pointer;
                .learningItemPlayer-btn__icon {
                    padding-right: 5px;
                    font-size: 1rem;
                }
            }
        }
    }
    .learningItemPlayer-content {
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        min-height: 150px;
        background-color:rgb(36, 35, 35);
        .learningItemPlayer-content__background {
            max-width: 750px;
            height: 400px;
            display: none;
        }
        .learningItemPlayer-content__video {
            max-width: 100%;
            height: 400px;
        }
    }
    .learningItemPlayer-footer {
        display: none;
        width: 100%;
        height: 50px;
        background:black;
        border:solid 1px white;
    } 
}


.learningItemPlayer-navbar.active {
    display: flex;
}
.learningItemPlayer-footer.active {
    display: flex;
}
