.companyPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 30px 20px 30px;
    background-color:rgb(248, 246, 246);
    .companyPage-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .companyPage-content {
            width: 65%;
        }
        .companyPage-sidebar {
            width: 25%;
        }
    }    
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $xl) {
    .companyPage {
        .companyPage-container {
            
            .companyPage-content {
                width: 68%;
            }
            .companyPage-sidebar {
                width: 28%;
            }
        }    
    }
}

@media (min-width : $xs) and (max-width : $lg) {
    .companyPage {
        .companyPage-container {
            display: block;
            .companyPage-content {
                width: 100%;
            }
            .companyPage-sidebar {
                width: 100%;
            }
        }    
    }
}