$backColor : rgb(110, 214, 121);

.post {
    background-color:white;
    border-radius:25px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    .post-header {
        padding: 10px 20px 10px 20px;
        display: flex;
        width: 100%;
        border-bottom:solid 1px $backColor;
        .post-header__img {
            width: 60px;
            height: 50px;
            cursor: pointer;   
            img {
                border-radius:50%;
                width: 100%;
                height:  100%;
            }
        }
        .post-header__info {
            padding-left: 20px;
            width: 80%;
            h2 {
                font-size: 1rem;
                cursor: pointer;
            }
            p {
                margin-top: 5px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }
        .post-header__follow {
            width: 30%;
            display: flex;
            justify-content:flex-end;
            background-color:white;
            .post-header__follow-btn {
                width: 100%;
                background-color:white;
                border:solid 1px $backColor;
                font-size: 0.8rem;
                height: 30px;
                border-radius:10px;
                cursor: pointer;
                
                span {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
        }
    }
    .post-content {
        padding: 10px 10px 10px 10px;
        .post-content__title {
            padding: 10px 10px 10px 10px;
            p {
                margin-top: 5px;
                margin-bottom: 5px;
                color: grey;
                cursor: pointer;
            }
            .post-content__title-btn {
                background-color:white;
                cursor: pointer;
            }
        }
        .post-content__photo {
            padding: 10px 10px 0px 10px;
            img {
                width: 100%;
                max-height:400px;
            }
        }
        .post-content__block {
            margin-top: 10px;
            display: flex;
            padding: 10px;
            justify-content:space-between;
            .post-content__reactions {
                display: flex;
                .post-content__reactions-user {
                    margin-top: 3px;
                    margin-left: 10px;
                    cursor: pointer;
                    color: grey;
                    font-size: 0.8rem;
                }
                .post-content__reactions-count {
                    margin-left: 10px;
                    margin-top: 3px;
                    cursor: pointer;
                    color: grey;
                    font-size: 0.8rem;
                }
                .post-content__reactions-icon {
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
            .post-content__comment-modal {
                background-color:white;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
                padding-top: 2px;
            }
        }
        .post-content__btns {
            margin: 15px 0px 15px 0px;
            .post-content__nav {
                display: flex;
                width: 100%;
                .post-content__item {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.8rem;
                    color: grey;
                    .post-content__item-icon {
                        font-size: 0.8rem;
                        color:grey;
                        margin-right: 5px;
                    }
                }
            } 
        }
        .post-content__comment {
            display: flex;
            display: none;
            .post-content__comment-img {
                margin: 10px 10px 10px 10px;
                width: 30px;
                height: 30px;
                border-radius:50%
            }
            .post-content__comment-input {
                border:solid 1px grey;
                border-radius:10px;
                width: 90%;
                cursor:pointer;
                padding: 10px 10px 10px 10px;
            }
            .post-content__comment-btn {
                padding: 10px 10px 10px 10px;
                background-color:white;
                .post-content__comment-icon {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
        .post-content__comment.active {
            display: block;
            display: flex;
        }
        .post-content__reaction {
            position: relative;
            z-index: 1;
            background:white;
            bottom: 0px;
            height: 30px;
            display: none;
            .post-content__reaction-icon {
                cursor: pointer;
                padding: 5px 5px 3px 5px;
                font-size: auto;
                &:hover {
                    transform: scale(2);
                }
            }
        }
        .post-content__reaction.active {
            display: block;
        }
    }
}

.red {  color:rgb(252, 11, 11);}
.green { color:rgb(9, 247, 9);}
.blue { color:rgb(6, 6, 250);}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .post {
        .post-header {
            .post-header__follow {
                width: 40%;
            }
        }
        .post-content {
            .post-content__btns {
                .post-content__nav {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    .post-content__item {
                        margin: 5px 5px 5px 5px;
                        border-radius:10px;
                        border:solid 1px grey;
                        padding: 5px 0px 5px 0px;
                        width: 45%;
                    }
                } 
            }
        }
    }
}