$backColor : rgb(110, 214, 121);

.statisticsSidebar {
    width: 100%;
    .statisticsSidebar-container {
        min-height: 150px;
        border-radius: 20px;
        background-color:white;
        .statisticsSidebar-user {
            border-bottom:solid 2px white;
            .user-block {
                height: 80px;
                display: flex;
                justify-content: center;
                background-color:$backColor;
                border-radius: 20px 20px 0px 0px;
                margin: 10px 0px 20px 0px;
                .user-block__cover {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px 20px 0px 0px;
                }
            }
            .user-logo {
                width: 33%;
                height: 0px;
                position: relative;
                bottom:  60px;
                margin: 0 auto;
                cursor: pointer;
                .user-logo__img {
                    border:solid 1px black;
                    border-radius:50%;  
                    width: 100%;
                    height: 80px;     
                }
            }
            .statisticsSidebar-user__name {
                text-align: center;
                font-size: 0.8rem;
                margin: 40px 0px 5px 0px;
                cursor: pointer;
            }
            .statisticsSidebar-user__profession {
                text-align: center;
                font-size: 0.8rem;
                margin: 5px 0px 5px 0px;
                cursor: pointer;
                color: grey;
            }
        }
        .statisticsSidebar-statistics {
            margin: 10px 10px 0px 10px;
            padding-bottom: 10px;
            .statisticsSidebar-statistics__block {
                display: flex;
                justify-content:space-between;
                p {
                    color: grey;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .background {
        .background-container {
            .background-statistics {
                margin: 10px 10px 0px 10px;
                padding-bottom: 10px;
                .background-statistics__block {
                    display: flex;
                    margin: 0 auto;
                    width: 55%;
                    justify-content:space-between;
                }
            }
        }
    }
}

@media (min-width : $xs) and (max-width : $md) {
    .background {
        .background-container {
            .background-statistics {
                .background-statistics__block {
                    display: flex;
                    margin: 0 auto;
                    width: 40%;
                    justify-content:space-between;
                }
            }
        }
    }
}