.searchCompanyesItem {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    .searchCompanyesItem-logo {
        width: 20%;
        width: 50px;
        height: 50px;
        cursor:pointer;
    }
    .searchCompanyesItem-block {
        width: 60%;
        .searchCompanyesItem-name {
            font-size: 1rem;
            padding-bottom: 3px;
            cursor:pointer;
        }
        .searchCompanyesItem-followers {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        }
        .searchCompanyesItem-direction {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        } 
        .searchCompanyesItem-jobs {
            font-size: 1rem;
            color: grey;
        }
    }
    .searchCompanyesItem-follow {
        width: 20%;
        height: 40px;
        border:solid 1px rgb(99, 99, 248);
        background-color:white;
        border-radius:10px;
        color: grey;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color:black;
            color: white;
        }
    }
}