.networkNotification {
    margin-top: 10px;
    padding: 15px 10px 15px 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    .networkNotification-img {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    .networkNotification-block {
        .networkNotification-block__name {
            padding: 5px 10px 5px 10px;
            cursor: pointer;
        }
        .networkNotification-block__work {
            padding: 5px 10px 5px 10px;
            cursor: pointer;
        }
    }
    .networkNotification-accept {
        margin: 10px 2px;
        background-color:rgb(113, 216, 113);
        border-radius:100%;
        color: white;
        padding: 10px 10px 10px 10px;
        cursor: pointer;
    }
    .networkNotification-close {
        margin: 10px 2px;
        cursor: pointer;
        background-color:rgb(248, 33, 33);
        border-radius:100%;
        color: white;
        padding: 10px 10px 10px 10px;
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .networkNotification {
        width: 100%;
        margin: 0 auto;
    }
}