.messengerBtn-block {
    display: flex;
    width: 100%;
    justify-content:center ;
    
    .messengerBtn-block__img {
        margin: 10px 5px 10px 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .messengerBtn-block__sessionOn {
        width: 8px;
        height: 8px;
        display: block;
        border-radius:10px;
        background-color:green;
        position: relative;
        padding: 5px 5px 5px 5px;
        top: 40px;
        border:solid 1px white;
        right: 16px;
        &::after {
            content:"";
            display: block;
            z-index: 1;
            width: 5px;
            height: 5px;
            background:white;
            position: relative;
            border-radius:50%;
            right: 2px;
            bottom: 2px;
        }
    }
    .messengerBtn-block__name {
        margin-top: 20px;
        margin-right: 10px;
        font-size: 0.8rem;
        cursor: pointer;
    }
    .messengerBtn-block__time {
        font-size: 0.8rem;
        margin-top: 20px;
    }
}