.messagingUserContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;

    &:hover {
        background-color:rgb(216, 213, 213);
        cursor: pointer;
        border-left: solid 3px rgb(25, 148, 25);
    }
    .messagingUserContent-img {
        width: 40px;
        height: 40px;
        border-radius:100%;
    }
    .messagingUserContent__sessionOn {
        width: 8px;
        height: 8px;
        display: block;
        border-radius:10px;
        background-color:green;
        position: relative;
        padding: 5px 5px 5px 5px;
        top: 30px;
        border:solid 1px white;
        right: 15px;
        &::after {
            content:"";
            display: block;
            width: 5px;
            height: 5px;
            background:white;
            position: relative;
            border-radius:50%;
            right: 2px;
            bottom: 2px;
        }
    }
    .messagingUserContent-block {
        width: 100%;
        .messagingUserContent-name {
            font-size: 1rem;
            padding-bottom: 3px;
        }
        .messagingUserContent-message {
            font-size: 1rem;
            color: grey;
        }
    }
    .messagingUserContent-date {
        font-size: 1rem;
        color:grey;
    }
}