$backColor : rgb(110, 214, 121);

.sidebar {
    width: 100%;
    .sidebar-container {
        min-height: 150px;
        border-radius: 20px;
        margin: 10px 0px 10px 0px;
        background-color:white;  
        .sidebar-container__block {
            .sidebar-container__block-title {
                h2 {
                    text-align: center;
                    padding: 10px 10px 10px 10px;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    color: $backColor;
                }
            }
            .sidebar-container__blockContent {
                
            }
            .sidebar-container__seeMore {
                padding: 20px 0px 20px 0px;
                width: 80%;
                margin: 0 auto;
                .sidebar-container__seeMore-btn {
                    width: 100%;
                    color: white;
                    border-radius:10px;
                    background-color:$backColor ;
                    height: 30px;
                    cursor: pointer;
                }
            } 
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $lg) {
    .sidebar {
        .sidebar-container {
            .sidebar-container__block {
                .sidebar-container__block-title {
                    h2 {
                        padding: 20px 10px 10px 10px;
                    }
                }
                .sidebar-container__blockContent {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                }
                .sidebar-container__seeMore {
                    width: 30%;
                    .sidebar-container__seeMore-btn {
                        padding: 5px 0px 5px 0px;
                    }
                } 
            }
        }
    }
}