.vacanciesItemPageForm {
    padding: 20px 20px 20px 20px;
    .vacanciesItemPageForm-header {
        display: flex;
        justify-content: space-between;
        .vacanciesItemPageForm-header__info {
            .vacanciesItemPageForm-header__info-title {
                margin-top:3px;
            }
            .vacanciesItemPageForm-header__info-block {
                display: flex;
                p {
                    margin: 3px 0px 3px 0px;
                    margin-right: 5px;
                    color: grey;
                    font-size: 0.8rem;
                }
            }
        }
        .vacanciesItemPageForm-header__btns {
            button {
                width: 100%;
                background-color:white;
                border:solid 1px rgb(99, 99, 248);
                margin: 3px 0px 3px 0px;
                padding: 10px 10px 10px 10px;
                color: rgb(99, 99, 248);
                border-radius:10px;
                cursor: pointer;
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
        }
    }
    .vacanciesItemPageForm-nav {
        .vacanciesItemPageForm-nav__block {
            .vacanciesItemPageForm-nav__block-item {
                color:grey;
                font-size: 1rem;
                span {
                    color: black;
                    font-size: 1rem;
                    margin-right: 5px;
                }
            }
        } 
    }
    .vacanciesItemPageForm-block {
        padding: 10px 0px 10px 0px;
        .vacanciesItemPageForm-title {
            padding: 10px 0px 10px 0px;
            font-size: 1rem;
        }
        .vacanciesItemPageForm-text {
            padding: 10px 10px 10px 10px;
            font-size: 0.8rem;
            color: grey;
        }
    }
    .vacanciesItemPageForm-company {
        padding: 10px 10px 10px 10px;
        border:solid 1px rgb(99, 99, 248);
        border-radius:10px;  
        .vacanciesItemPageForm-company__block {
            display: flex;
            justify-content: space-between;
            .vacanciesItemPageForm-company__block-img {
                width: 60px;
                height: 60px;
            }
            .vacanciesItemPageForm-company__block-name {
                font-size: 1.2rem;
                margin-top: 12px;
                margin-left: 10px;
            }
            .vacanciesItemPageForm-company__block-btn {
                background-color:white;
                border:solid 1px rgb(99, 99, 248);
                margin: 3px 0px 3px 0px;
                padding: 10px 10px 10px 10px;
                color: rgb(99, 99, 248);
                border-radius:10px;
                height: 40px;
                cursor: pointer;
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
        }
        .vacanciesItemPageForm-company__emploee {
            color: grey;
            margin: 5px 0px 3px 0px;
        }
        .vacanciesItemPageForm-company__info {
            color: grey;
            margin: 5px 0px 3px 0px;
        }
    }
}