$backColor : rgb(110, 214, 121);

.followCompany {
    width: 100%;
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    padding: 0px 0px 10px 0px;
    .followCompany-title {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 10px;
        text-align: center;
        border-bottom:solid 1px $backColor;
        padding: 20px 0px 20px 0px;  
    }
} 

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $xl) {
    .companyFollowBar {
        .companyFollowBar-title {
            font-size: 0.8rem;
        }
    }
}

@media (min-width : $xs) and (max-width : $lg) {
    .companyFollowBar {
        .companyFollowBar-block {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}