.profileSkillsItem {
    .profileSkillsItem-content {
        padding: 20px 20px 20px 20px;
        margin: 5px 0px 5px 0px;
        display: flex;
        width: 100%;
        .profileSkillsItem-content__info {
            width: 80%;
            h2 {
                color:rgb(99, 99, 248);
                font-size: 1.2rem;
                cursor: pointer;
                span {
                    margin-left: 10px;
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }  
    }
}