$backColor : rgb(110, 214, 121);

.searchPostsItem {
    background-color:white;
    border-radius:25px;
    margin: 10px 10px 10px 10px;
    padding: 10px 0px 10px 0px;
    .searchPostsItem-header {
        padding: 10px 10px 10px 10px;
        display: flex;
        width: 100%;
        border-bottom:solid 1px $backColor;
        .searchPostsItem-header__img {
            width: 50px;
            height: 50px;
            cursor: pointer;   
            img {
                width: 100%;
                height:  100%;
            }
        }
        .searchPostsItem-header__info {
            padding-left: 20px;
            width: 80%;
            h2 {
                color:$backColor;
                font-size: 1rem;
                cursor: pointer;
            }
            p {
                padding: 2px 0px 2px 0px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }
        .searchPostsItem-header__follow {
            width: 20%;
            display: flex;
            justify-content:flex-end;
            background-color:white;

            .searchPostsItem-header__follow-btn {
                width: 100%;
                background-color:white;
                border:solid 1px $backColor;
                font-size: 0.8rem;
                height: 40px;
                border-radius:25px;
                cursor: pointer;
                color:$backColor;
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
        }
    }
    .searchPostsItem-content {
        padding: 10px 10px 10px 10px;
        .searchPostsItem-content__title {
            padding: 10px 10px 10px 10px;
            span {
                display: flex;
                justify-content:flex-end;
                margin-top: 5px;
                color: $backColor;
                cursor: pointer;
            }
        }
        .searchPostsItem-content__photo {
            img {
                width: 100%;
                max-height:400px;
            }
        }
        .searchPostsItem-content__follow {
            display: flex;
            justify-content:flex-start;
            .searchPostsItem-content__follow-peoples {
                margin-top: 3px;
                margin-left: 10px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .searchPostsItem-content__follow-name {
                margin-left: 10px;
                margin-top: 3px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .searchPostsItem-content__follow-icon {
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .searchPostsItem-content__btns {
            margin: 15px 0px 15px 0px;
            .searchPostsItem-content__nav {
                display: flex;
                width: 100%;
                .searchPostsItem-content__item {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.8rem;
                    color: grey;
                    .searchPostsItem-content__item-icon {
                        font-size: 0.8rem;
                        color:grey;
                        margin-right: 5px;
                    }
                }
            } 
        }
        .searchPostsItem-content__comment {
            display: flex;
            display: none;
            .searchPostsItem-content__comment-img {
                margin: 10px 10px 10px 10px;
                width: 30px;
                height: 30px;
            }
            .searchPostsItem-content__comment-input {
                border:solid 1px grey;
                border-radius:10px;
                width: 90%;
                cursor:pointer;
                padding: 10px 10px 10px 10px;
            }
            .searchPostsItem-content__comment-btn {
                padding: 10px 10px 10px 10px;
                background-color:white;
                .searchPostsItem-content__comment-icon {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
        .searchPostsItem-content__comment.active {
            display: block;
            display: flex;
        }
        .searchPostsItem-content__reaction {
            position: relative;
            z-index: 1;
            background:white;
            bottom: 0px;
            height: 30px;
            display: none;
            .searchPostsItem-content__reaction-icon {
                cursor: pointer;
                padding: 5px 5px 3px 5px;
                font-size: auto;
                &:hover {
                    transform: scale(2);
                }
            }
        }
        .searchPostsItem-content__reaction.active {
            display: block;
        }
    }
}

.red {  color:rgb(252, 11, 11);}
.green { color:rgb(9, 247, 9);}
.blue { color:rgb(6, 6, 250);}

