.profileLicenseItem {
    .profileLicenseItem-content {
        padding: 10px 20px 10px 20px;
        margin: 5px 0px 5px 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .profileLicenseItem-content__img {
            width: 50px;
            height: 50px;
            cursor: pointer;   
            img {
                width: 100%;
                height:  100%;
            }
        }
        .profileLicenseItem-content__info {
            padding-left: 20px;
            width: 80%;
            h2 {
                color:rgb(99, 99, 248);
                font-size: 0.8rem;
                cursor: pointer;
            }
            p {
                padding: 2px 0px 2px 0px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }  
        .profileLicenseItem-content__btn {
            background-color:white;
            margin: 0px 0px 0px 0px;
            padding: 5px 0px 5px 0px;
            color:  grey;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius:10px;
            margin-right: 18px;
        }
    }
}