.learningLesson {
    padding: 10px 10px 10px 10px;
    width: 20%;
    cursor: pointer;
    .learningLesson-img {
        width: 100%;
        height: 140px;
    }
    .learningLesson-title {
        text-transform: uppercase;
        padding-top: 5px;
        font-size: 0.8rem;
    }
    .learningLesson-info {
        padding-top: 3px;
        font-size: 1rem;
    }
    .learningLesson-teacher {
        padding-top: 3px;
        color: grey;
        font-size: 0.8rem;
    }
}