.feedPostVideoModal {
    position: fixed;
    top:0;
    left: 0;    
    width: 100vw;
    height: 100vw;
    background-color:rgba(0, 0, 0, 0.918);
    display: none;
    z-index: 1;
    .feedPostVideoModal-container {
        position: relative;
        top: 70px;
        width: 40%;
        margin: 0 auto;
        min-height: 500px;
        border-radius: 20px;
        background-color:white;
        .feedPostVideoModal-header {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content: space-between;
            .feedPostVideoModal-header__title {
                color: black;
                font-size: 1rem;
            }
            .feedPostVideoModal-header__icon {
                cursor: pointer;
            }
        }
        .feedPostVideoModal-content {
            padding: 15px 15px 15px 15px;
            width: 100%;
            min-height: 200px;
            margin: 0 auto;
            .feedPostVideoModal-content__block {
                width: 100%;
                padding: 10px 20px 10px 20px;
                .feedPostVideoModal-content__file {
                    padding: 10px 10px 10px 10px;
                    width: 100%;
                    border:solid 1px grey;
                    padding: 20px 20px 20px 20px;
                    cursor: pointer;
                }
                .feedPostVideoModal-content__btns {
                    width: 100%;
                    display: flex;
                    .feedPostVideoModal-content__close {
                        width: 45%;
                        background-color:white;
                        border-radius:10px;
                        color: grey;
                        margin: 10px 10px 10px 10px;
                        padding: 10px 10px 10px 10px;
                        border:solid 1px grey;
                        cursor: pointer;
                    }
                    .feedPostVideoModal-content__success {
                        width: 45%;
                        background-color:rgb(99, 99, 248);
                        margin: 10px 10px 10px 10px;
                        padding: 10px 10px 10px 10px;
                        border:solid 1px grey;  
                        color: white;
                        border-radius:10px;
                        cursor: pointer;
                    }
                }
            }
            .feedPostVideoModal-content__container {
                height:350px;
                overflow-y: scroll;
                border-radius:10px;
                padding: 10px 10px 10px 10px;
                .feedPostVideoModal-content__header {
                    width: 100%;
                    display: flex;
                    .feedPostVideoModal-content__header-img {
                        width: 50px;
                        height: 50px;
                    }
                    .feedPostVideoModal-content__header-group {
                        padding-left: 20px;
                        .feedPostVideoModal-content__header-name {
                            font-size: 1.2rem;
                            color: rgb(99, 99, 248);
                            padding-bottom: 5px;
                        }
                        .feedPostVideoModal-content__header-hideen {
                            font-size: 0.8rem;
                            border:solid 1px grey;
                            border:solid 1px rgb(99, 99, 248);
                            border-radius:10px;
                            padding: 3px 10px 3px 10px;
                        }
                    }
                }
                .feedPostVideoModal-content__view {
                    .feedPostVideoModal-content__view-about {
                        padding: 10px 0px 10px 0px;
                        margin: 20px 0px 0px 0px;
                        border:solid 1px grey;
                        width: 100%;
                    }
                    .feedPostVideoModal-content__view-video {
                        width: 100%;
                        height: 300px;
                        background-color:black;
                    }
                    .feedPostVideoModal-content__view-close {
                        position: relative;
                        color: white;
                        top: 30px;
                        left: 10px;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .feedPostVideoModal-footer {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content:flex-end;
            .feedPostVideoModal-footer__btn {
                cursor: pointer;
                padding: 15px 15px 15px 15px;
                background-color:rgb(99, 99, 248);
                color: white;
                border-radius:10px;
            }
        }
    }
}

.feedPostVideoModal.active {
    display: block;
}