.profileContent {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    padding-bottom: 20px;
    background-color:white;
    .profileContent-background {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .profileContent-background__header {
            width: 100%;
            height: 200px;
            .profileContent-background__logo {
                border-radius:100%;
                border:solid 3px white;
                position: relative;
                bottom: 80px;
                left: 60px;
                width: 150px;
                height: 150px;
                cursor: pointer;
            }
            .profileContent-background__cover {
                background-color: rgb(99, 99, 248);
                border-radius:25px 25px 0px 0px;
                height: 180px;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    .profileContent-info {
        padding: 40px 0px 10px 0px;
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        .profileContent-info__left {
            width: 70%;
            padding: 30px 0px 20px 0px;
            .profileContent-info__name {
                font-size: 1.4rem;
                color: grey;
            }
            .profileContent-info__address {
                font-size: 1rem;
                padding: 20px 0px 10px 0px;
                color: grey;
                .profileContent-info__phone {
                    background-color:white;
                    color: rgb(79, 216, 79); 
                    margin-left: 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .profileContent-info__profesion {
                padding: 3px 0px 3px 0px;
                font-size: 1rem;
                color: grey;
            }
        }
        .profileContent-info__right {
            width: 30%;
            .profileContent-info__right-update {
                display: flex;
                cursor: pointer;
                float: right;
                background-color:white;
                color: rgb(99, 99, 248);
                border-radius:10px;
                padding: 10px 10px 10px 10px;
                position: relative;
                bottom: 20px;
                right:5px;
                font-size: 1.2rem;
                &:hover {
                    background-color:black;
                    color: white;
                }
            }
            .profileContent-info__btn {
                width: 100%;
                display: flex;
                border-radius:10px;
                background-color:white;
                padding: 5px 10px 5px 10px;
                margin: 5px 0px 5px 0px;
                font-size: bold;
                .profileContent-info__btn-text {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    padding: 10px 10px 10px 10px;
                    color: grey;
                }
                .profileContent-info__btn-work {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
                .profileContent-info__btn-university {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
            }
        }
    }
    .profileContent-serachWork {
        display: flex;
        justify-content: space-between;
        margin: 10px 40px 0px 40px;
        border:solid 1px rgb(99, 99, 248);
        border-radius:10px;  
        padding: 10px 10px 10px 10px;
        .profileContent-serachWork__block {
            .profileContent-serachWork__text {
                color: grey;
            }
            .profileContent-serachWork__start {
                background-color:white;
                text-transform: uppercase;
                color: rgb(79, 216, 79);
                padding-top: 5px;
                font-weight: bold;
                cursor: pointer;
           }
            .profileContent-serachWork__close {
                cursor: pointer;
                font-size: 1rem;
                background-color:white;
                padding: 10px 10px 10px 10px;
                border-radius:10px;
                color:  rgb(99, 99, 248);
            }
        }
    }
}