.loader-wrapper {
    position: fixed;
    top: 100px;
    width: 60px;
    height: 60px;
    .loader {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border:10px solid rgb(252, 249, 249);
        border-top-color:rgb(117, 117, 238);
        border-bottom-color:rgb(236, 86, 148) ;
        border-radius:50%;
        animation:  rotate 5s linear infinite;
        .loader-inner {
            border-top-color:rgb(83, 250, 83);
            border-bottom-color:white ;
            animation-duration: 2.5s;
        }
    }
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}