.networkPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 20px 20px;
    background-color:rgb(248, 246, 246);
    .networkPage-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .networkPage-sidebar {
            width: 20%;
            min-height: 150px;
            border-radius: 20px;
            margin: 10px 10px 10px 10px;
            .networkPage-nav {
                padding: 0px 10px 15px 10px;
                .networkPage-nav__bar {
                    background-color:white;
                    border-radius: 20px;
                    .networkPage-nav__item {
                        padding: 15px 0px 15px 10px;
                        cursor: pointer;
                        .networkPage-nav__item-icon {
                            width: 20%;
                            font-size: 1.2rem;
                            color: rgb(99, 99, 248);
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .networkPage-content {
            min-height: 150px;
            border-radius: 20px;
            margin: 0px 10px 10px 10px;
            width: 70%;
            .networkPage-content__notification {
                background-color:white;
                border-radius: 20px;
                margin-top: 10px;
                padding: 5px 10px15px 10px;
                width: 100%;
                .networkPage-content__notification-title {
                    padding: 20px 10px 20px 10px;
                    font-size: 1rem;
                    border-bottom:solid 1px rgb(99, 99, 248);
                }
                p {
                    font-size: 0.8rem;
                    color: grey;
                }
            }
            .networkPage-content__users {
                width: 100%;
                background-color:white;
                border-radius: 20px;
            }
            .networkPage-content__companyes {
                width: 100%;
                background-color:white;
                border-radius: 20px;
            }
        }
    }
}