.searchEvents {
    width: 100%;
    .searchEvents-title {
        padding: 20px 10px 20px 10px;
        font-size: 1rem;
        text-transform: uppercase;
    }
    .searchEvents-container {
        width: 100%;
        padding: 10px 10px 10px 10px;
    }
}