$backColor : rgb(110, 214, 121);

.footer {
    max-width:1440px;
    margin: 0 auto;
    min-height: 300px;
    background-color:$backColor;
    .footer-container {
        display: flex;
        .footer-logo {
            width: 20%;
            color: white;
            flex-basis: 20%;
            justify-content: start;
            h1 {
                font-size: 1rem;
                cursor: pointer;
                margin: 25px 0px 0px 20px;
            }
        }
        .footer-content {
            width: 80%;
            display: flex;
            margin: 25px 0px 0px 20px;
            .footer-block {
                width: 25%;
                .footer-block__title {
                    font-weight: bold;
                    text-align: start;
                    width: 50%;
                    height: 50px;
                    font-size:0.7rem;
                    color:white;
                    text-transform: uppercase;
                }
                .footer-block__bar {
                    .footer-block__item {
                        font-weight: bold;
                        margin: 5px 0 5px 0;
                        color:white;
                        font-size: 0.7rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        &:hover {
                            text-decoration:overline;
                            color:white
                        }
                    }
                }
            }
            .footer-company {
                width: 100%;
                display: flex;
                .footer-company__item {
                    width: 25%;
                    margin: 0px 0px 5px 0px;
                    cursor:pointer;
                    font-size: 0.7rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    .language {
                        cursor: pointer;
                        width: 50px;
                        margin-left: 10px;
                        padding: 0px 0px 3px 0px;
                        border:solid 1px black;
                        border-radius:5px; 
                    }
                }
            }
        }
    }
    .footer-copyright {
        width: 100%;
        margin-top:20px;
        .footer-copyright__item {
            border-top:solid 1px white;
            text-align: center;
            padding:20px 0px 10px  0px ;
            font-size: 0.6rem;
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .footer {
        .footer-container {
            display: block;
            width: 100%;
            .footer-logo {
                width: 100%;
                padding-top: 10px;
            }
            .footer-content {
                width: 100%;
            }
        }    
    }
}

@media (min-width : $xs) and (max-width : $sm) {
    .footer {
        .footer-container {
            display: block;
            width: 100%;
            .footer-logo {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 20px;
            }
            .footer-content {
                width: 60%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                .footer-block {
                    width: 50%;
                }
                .footer-company {
                    display: block;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .footer-company__item {
                        width: 50%;
                        padding: 10px 0px 10px 0px;
                    }
                }   
            }
        }  
    }
}
