.modalSearch {
    position: fixed;
    top:60px;
    left: 0;    
    width: 100vw;
    height: 100vw;
    background-color:rgba(0, 0, 0, 0.918);
    display: none;
    z-index: 1;
    .modalSearch-container {
        position: absolute;
        top: 20px;
        width:500px;
        left: 10px;
        height: 500px;
        border-radius: 20px;
        background-color:white;
        .modalSearch-header {
            padding: 15px 25px 15px 25px;
            display: flex;
            justify-content: space-between;
            .modalSearch-header__title {
                color: rgb(99, 99, 248);
                text-transform: uppercase;
                font-size: 1rem;
            }
            .modalSearch-header__icon {
                cursor: pointer;
                color: rgb(99, 99, 248);
                font-size: 1.2rem;
            }
        }
        .modalSearch-content {
            width: 90%;
            padding: 15px 15px 15px 15px;
            height:350px ;
            overflow-y: scroll;
            margin: 0 auto;
        }
        .modalSearch-footer {
            padding: 10px 15px 10px 15px;
            display: flex;
            justify-content:center;
            .modalSearch-footer__btn {
                cursor: pointer;
                padding: 15px 15px 15px 15px;
                color: rgb(99, 99, 248);
                background-color:white;
                border-radius:10px;
                text-transform: uppercase;
            }
        }
    }
}

.modalSearch.active {
    display: block;
}