.vacanciesSearch {
    width: 100%;
    min-height: 250px;
    padding:0px 0px 20px 0px;
    border-radius: 25px;
    .vacanciesSearch-block {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 10px 5px 10px;
        .vacanciesSearch-block__title {
            text-align: center;
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1rem;
            text-transform: uppercase;
            color:grey;
            margin: 0px 0px 10px 0px;
            padding-left: 20px;
            padding-top: 20px;
        }
        .vacanciesSearch-block__btn {
            background-color:white;
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            .vacanciesSearch-block__btn-icon {
                display: block;
                color: rgb(99, 99, 248);
                font-size: 1rem;
                margin-right: 5px;
                margin-top: 5px;
            }
            .vacanciesSearch-block__btn-input {
                border:solid 1px rgb(99, 99, 248);
                height: 30px;
                width: 100%;
                border-radius:10px;
            }
        }

    }
    .vacanciesSearch-category {
        width: 100%;
        .vacanciesSearch-category__bar {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 20px;
            .vacanciesSearch-category__item {
                width: auto;
                text-align: center;
                margin: 5px 5px 5px 5px;
                background-color:white;
                color:grey;
                font-weight: bold;
                text-transform: uppercase;
                font-size:0.8rem;
                cursor: pointer;
            }
        }
        .vacanciesSearch-category__more {
            width: auto;
            text-align: center;
            margin: 2px 5px 0px 5px;
            color:white;
            background-color:white;
            font-weight: bold;
            text-transform: uppercase;
            font-size:0.8rem;
            color: rgb(99, 99, 248);
            cursor: pointer;
        }
    }
}