$backColor : rgb(110, 214, 121);

.messenger {
    width: 300px;
    position: fixed;
    right: 0px;
    z-index: 1;
    background-color:$backColor;
    min-height: 40px;
    border-radius:10px 10px 0px 0px;
    bottom:0px;
    .messenger-btns {
        display: flex;
        justify-content: space-between;
        border:solid 1px white;
        .messenger-btns__logo {
            margin: 5px 3px 3px 3px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
        .messenger-btns__sessionOn {
            width: 8px;
            height: 8px;
            display: block;
            border-radius:10px;
            background-color:green;
            position: relative;
            padding: 5px 5px 5px 5px;
            top: 25px;
            border:solid 1px white;
            right: 36px;
            &::after {
                content:"";
                display: block;
                z-index: 1;
                width: 5px;
                height: 5px;
                background:white;
                position: relative;
                border-radius:50%;
                right: 2px;
                bottom: 2px;
            }
        }
        .messenger-btns__title {
            margin-top: 10px;
            color: white;
        }
        .messenger-btns__group {
            margin-top: 12px;
            .messenger-btns__item {
                font-size: 1rem;
                margin: 0px 5px 0px 5px;
                background-color:$backColor;
                color: white;
                cursor: pointer;
            }
        }
    }
    .messengerContent {
        display: none;
        .messenger-container {
            min-height: 200px;
            background-color:white;
            .messenger-search {
                padding: 10px 10px 10px 10px;
                .messenger-search__icon {
                    color:$backColor;
                    cursor: pointer;
                }   
                .messenger-search__input {
                    cursor: pointer;
                    height: 30px;
                    width: 90%;
                    border:solid 1px $backColor;
                    border-radius:15px;
                    margin-left: 10px;
                }
            }
        }
    }
    .messenger-newMessage {
        width: 300px;
        position: absolute;
        right:  320px;
        z-index: 100;
        top: 0px;
        height: 390px;
        background-color:white;
        display: none;
    }
} 

.messengerContent.active {
    display: block;
    right: 200;
}

.messenger-newMessage.active {
    display: block;
}