$backColor : rgb(110, 214, 121);

.profileExperience {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    padding: 20px 10px 10px 10px;
    .profileExperience-header{
        padding: 0px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        border-bottom:solid 1px $backColor;
        .profileExperience-header__title {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 20px 20px 20px 20px;
        }
        .profileExperience-header__block {
            margin-right: 30px;
            margin-top:10px;
            .profileExperience-header__btn{
                background-color:white;
                margin: 0px 0px 0px 0px;
                padding: 5px 5px 5px 5px;
                color:  $backColor;
                font-size: 1.2rem;
                cursor: pointer;
                border-radius:10px;
            }
        }
    }
}