$backColor : rgb(110, 214, 121);

.profileSidebar {
    .profileSidebar-container {
        min-height: 150px;
        border-radius: 20px;
        margin: 10px 10px 0px 10px;
        background-color:white;
        .profileSidebar-contaier__img {
            padding: 20px 10px 10px 10px;
            img {
                width: 100%;
                height: 180px;
            }
        }
        .profileSidebar-block {
            padding: 10px 10px 10px 10px;
            background-color: $backColor;
            border-radius:0px 0px 25px 25px;
            h2 {
                color:white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.8rem;
                text-align: center;
            }
            .profileSidebar-bar {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px 10px 10px 10px;
                .profileSidebar-bar__item {
                    font-size: 0.8rem;
                    color: white;
                    margin: 3px 3px 3px 3px;
                    cursor: pointer;
                }
            }
        }
    }
}