$backColor : rgb(110, 214, 121);

.universityContacts {
    display: flex;
    min-height: 150px;
    border-radius: 20px;
    background-color:white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 40px 20px 40px;
    .universityContacts-container {
        width: 100%;
        .universityContacts-title {
            font-size: 1rem;
            padding-right: 20px;
            color: black;
            text-transform: uppercase;
            padding: 10px 0px 10px 0px;
        }
        .universityContacts-block {
            width: 100%;
            display: flex;
            padding: 10px 0px 10px 0px;
            .universityContacts-block__title {
                width: 50%;
                font-size: 0.9rem;
                padding-right: 20px;
                color: $backColor;
                text-transform: uppercase;
            }
            .universityContacts-block__text {
                width: 50%;
                font-size: 0.9rem;
                color: grey;
            }
        }
        .universityContacts-gps {
            width: 100%;
            height: 100%;
            background-color:$backColor;
        }
    }
}