$backColor : rgb(110, 214, 121);

.licenseItem {
    .licenseItem-content {
        padding: 5px 5px 5px 5px;
        margin: 5px 0px 5px 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .licenseItem-content__img {
            width: 80px;
            height: 80px;
            cursor: pointer;   
            img {
                width: 100%;
                height:  100%;
            }
        }
        .licenseItem-content__info {
            padding-left: 20px;
            width: 80%;
            padding: 10px 0px 20px 0px;
            h2 {
                color:black;
                font-size: 1rem;
                cursor: pointer;
            }
            p {
                padding: 5px 0px 5px 0px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }  
        .licenseItem-content__btn {
            background-color:white;
            margin: 0px 0px 0px 0px;
            padding: 5px 5px 5px 5px;
            color:  grey;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius:10px;
            margin-right: 24px;
        }
    }
}