.profileAddFrends {
    .profileAddFrends-content {
        padding: 10px 10px 10px 10px;
        margin: 5px 0px 5px 0px;
        display: flex;
        width: 100%;
        .profileAddFrends-content__img {
            width: 50px;
            height: 50px;
            cursor: pointer;   
            img {
                width: 100%;
                height:  100%;
            }
        }
        .profileAddFrends-content__info {
            padding-left: 20px;
            width: 80%;
            h2 {
                color:rgb(99, 99, 248);
                font-size: 0.8rem;
                cursor: pointer;
            }
            p {
                padding: 2px 0px 2px 0px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }
    }  
    .profileAddFrends-btn {
        width: 100%;
        display: flex;
        justify-content: end;
        background-color:white;
        padding: 0px 10px 0px 10px;
        .profileAddFrends-content__follow {
            width: 100%;
            background-color:white;
            border:solid 1px rgb(99, 99, 248);
            font-size: 0.8rem;
            height: 30px;
            border-radius:25px;
            cursor: pointer;
            color:rgb(99, 99, 248);
            &:hover {
                background-color:black;
                color:white;
            }
        }
    }
}