.successBtn {
    margin: 10px 10px 10px 10px;
    background-color:rgb(57, 182, 240);
    width: 50%;
    color: white;
    border-radius:15px;
    height: 25px;
    text-transform: uppercase;
    cursor: pointer;

    .icon-accept {
        margin-right: 3px;
    }
}