.servicesBlock {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    .servicesBlock-content {
        flex-basis: 40%;
       .servicesBlock-content__title {
            font-size: 3rem;
            width: 100%;
            text-transform: uppercase;
            color:rgb(99, 99, 248);
            margin: 0px 0px 20px 0px;
        }
        .servicesBlock-content__links {
            width: 100%;
            .servicesBlock-content__item {
                padding-left: 20px;
                background-color:white;
                color: rgb(99, 99, 248);
                text-transform: uppercase;
                margin: 10px 0px 10px 0px;
                height: 4rem;
                text-align: left;
                width: 100%;
                cursor: pointer;
                border:solid 2px rgb(99, 99, 248);
                border-radius: 25px;
                &:hover {
                    background-color:black;
                    color: white;
                }
                .servicesBlock-content__item-icon {
                    float:right;
                    color:rgb(99, 99, 248);
                    margin-right: 20px;
                    font-size: 1rem;
                }
            }
        }
    }
    .servicesBlock-background {
        flex-basis: 60%;
        display: flex;
        justify-content:flex-end;
        height: 430px;
        .servicesBlock-background__img {
            width: 100%;
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .servicesBlock  {
        display: block;
        width: 100%;
        margin-bottom: 0px;
        margin-top: 20px;
        padding: 0px 0px 0px 0px;       
        .servicesBlock-content {
            width: 80%;
            margin: 0 auto;
            font-size: 1rem;
            padding-top: 50px;
            .servicesBlock-content__title {
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .servicesBlock-background {
            width: 80%;
            height: 300px;
            margin: 0 auto;
            .servicesBlock-background__img {
                width: 100%;
                height: 100%;
            }
        }
    }
}