$backColor : rgb(110, 214, 121);

.universityAbout {
    padding: 20px 20px 0px 20px;
    min-height: 150px;
    border-radius: 20px;
    background-color:white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    .universityAbout-container {
        .universityAbout-block {
            display: flex;
            justify-content: space-between;
            border-bottom:solid 1px $backColor ;
            .universityAbout-block__title {
                text-transform: uppercase;
                font-size: 1rem;
                padding: 20px 20px 20px 20px;
            }
        }
        .universityAbout-text {
            display: block;
            padding: 20px 0px 20px 10px;
            margin-left: 10px;
            color: grey;
            font-size: 0.8rem;
        }
    }
}