.learningItemPlayer-nav__course {
    padding: 10px 10px 10px 10px;
    .learningItemPlayer-nav__course-name {
        color: white;
        padding-bottom: 3px;
        font-size: 1rem;
    }
    .learningItemPlayer-nav__course-direction {
        color: grey;
        font-size: 0.8rem;
    }
}