$backColor : rgb(110, 214, 121);

.searchUsersItem {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    .searchUsersItem-img {
        width: 20%;
        width: 50px;
        height: 50px;
        cursor:pointer;
    }
    .searchUsersItem-block {
        width: 60%;
        .searchUsersItem-name {
            font-size: 1rem;
            padding-bottom: 3px;
            cursor:pointer;
        }
        .searchUsersItem-earth {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        }
        .searchUsersItem-profession {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        } 
        .searchUsersItem-followUsers {
            font-size: 1rem;
            color: grey;
        }
    }
    .searchUsersItem-follow {
        width: 20%;
        height: 40px;
        border:solid 1px $backColor;
        background-color:white;
        border-radius:10px;
        color: grey;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color:black;
            color: white;
        }
    }
}