.goPremium {
    margin: 10px 10px 10px 10px;
    padding-bottom: 20px;
    cursor: pointer;
    .goPremium__title{
        font-size: 0.7rem;
    }
    .goPremium__block {
        display: flex;
        margin-top: 10px;
        .goPremium-block__icon {
            color: gold;
            margin-right: 10px;
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .goPremium {
        .goPremium__title{
            text-align: center;
        }
        .goPremium__block {
            display: flex;
            justify-content: center;
            width:100%;
        }
    }
}