$backColor : rgb(110, 214, 121);

.user {
    width: 33%;
    border-bottom:solid 2px white;
    padding-bottom: 20px;
    .user-block {
        height: 100px;
        display: flex;
        justify-content: center;
        background-color:$backColor;
        border-radius: 20px 20px 0px 0px;
        margin: 20px 10px 20px 10px;
        .user-block__cover {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0px 0px;
        }
    }
    .user-logo {
        width: 33%;
        height: 40px;
        position: relative;
        bottom:  60px;
        margin: 0 auto;
        cursor: pointer;
        .user-logo__img {
            border:solid 1px black;
            border-radius:50%;  
            width: 100%;
            height: 80px;     
        }
    }
    .user-name {
        text-align: center;
        font-size: 0.8rem;
        margin: 0px 0px 5px 0px;
        cursor: pointer;
    }
    .user-profession {
        text-align: center;
        font-size: 0.8rem;
        margin: 5px 0px 5px 0px;
        cursor: pointer;
        color: grey;
    }
    .user-frends {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        .user-frends__btn {
            width: 50%;
            background-color:black;
            color: white;
            border-radius:20px;
            height: 30px;
            cursor: pointer;
            &:hover {
                background-color:$backColor;
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .user {
        width: 50%;
    }   
}