$backColor : rgb(110, 214, 121);

.profileSkillsItem {
    .profileSkillsItem-content {
        padding: 10px 20px 10px 20px;
        margin: 5px 0px 5px 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .profileSkillsItem-content__info {
            width: 100%;
            h2 {
                color:$backColor ;
                font-size: 1.2rem;
                cursor: pointer;
                span {
                    margin-left: 10px;
                    color: black;
                    font-size: 1.2rem;
                }
            }
        }  
        .profileSkillsItem-content__btn {
            background-color:white;
            margin: 0px 0px 0px 0px;
            padding: 5px 0px 5px 0px;
            color: grey;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius:10px;
            margin-right: 20px;
        }
    }
}