$backColor : rgb(110, 214, 121);

.companyPost {
    width: 70%;
    margin: 0 auto;
    background-color:white;
    border-radius:25px;
    padding: 10px 30px 10px 10px;
    .companyPost-content {
        padding: 10px 10px 10px 10px;
        .companyPost-content__title {
            padding: 10px 10px 10px 10px;
            span {
                display: flex;
                justify-content:flex-end;
                margin-top: 10px;
                margin-bottom: 10px;
                color: $backColor;
                cursor: pointer;
            }
        }
        .companyPost-content__photo {
            img {
                width: 100%;
                max-height:400px;
            }
        }
        .companyPost-content__follow {
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content:flex-start;
            .companyPost-content__follow-peoples {
                margin-top: 3px;
                margin-left: 10px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .companyPost-content__follow-name {
                margin-left: 10px;
                margin-top: 3px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .companyPost-content__follow-icon {
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .companyPost-content__btns {
            margin: 15px 0px 15px 0px;
            .companyPost-content__nav {
                display: flex;
                width: 100%;
                .companyPost-content__item {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.8rem;
                    color: grey;
                    .companyPost-content__item-icon {
                        font-size: 0.8rem;
                        color:grey;
                        margin-right: 5px;
                    }
                }
            } 
        }
        .companyPost-content__comment {
            display: flex;
            display: none;
            .companyPost-content__comment-img {
                margin: 10px 10px 10px 10px;
                width: 30px;
                height: 30px;
            }
            .companyPost-content__comment-input {
                border:solid 1px grey;
                border-radius:10px;
                width: 90%;
                cursor:pointer;
                padding: 10px 10px 10px 10px;
            }
            .companyPost-content__comment-btn {
                padding: 10px 10px 10px 10px;
                background-color:white;
                .post-content__comment-icon {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
        .companyPost-content__comment.active {
            display: block;
            display: flex;
        }
        .companyPost-content__reaction {
            position: relative;
            z-index: 1;
            background:white;
            bottom: 0px;
            height: 30px;
            display: none;
            .companyPost-content__reaction-icon {
                cursor: pointer;
                padding: 5px 5px 3px 5px;
                font-size: auto;
                &:hover {
                    transform: scale(2);
                }
            }
        }
        .companyPost-content__reaction.active {
            display: block;
        }
    }
}

.red {  color:rgb(252, 11, 11);}
.green { color:rgb(9, 247, 9);}
.blue { color:rgb(6, 6, 250);}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .companyPost {
        width: 100%;
    }
}

@media (min-width : $xs) and (max-width : $sm) {
    .companyPost {
        .companyPost-content {
            .companyPost-content__btns {
                .companyPost-content__nav {
                    flex-wrap: wrap;
                    .companyPost-content__item {
                        width: 50%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}