.posts {
    margin: 10px 0px 10px 0px;
    padding-bottom: 30px;
    .posts-filtr {
        width: 100%;
        border-radius: 20px;
        background-color:white;
        margin-right: 10px;
        padding: 10px 20px 10px 10px;
        display: flex;
        justify-content:flex-end;
        .posts-filtr__title {
            color:grey;
        }
        .posts-filtr__category {
            border-radius:10px;
            margin-left: 20px;
            color: grey;
            cursor: pointer;
        }
    }
    .posts-items {

    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $sm) {
    .posts {
        margin: 0px;
    }
}