.posts {
    margin: 10px 10px 10px 10px;
    padding-bottom: 30px;
    .posts-filtr {
        margin-right: 10px;
        padding: 10px 0px 10px 0px;
        display: flex;
        justify-content:flex-end;
        .posts-filtr__title {
            color:grey;
        }
        .posts-filtr__category {
            border-radius:10px;
            margin-left: 20px;
            color: grey;
            cursor: pointer;
        }
    }
    .posts-items {

    }
    .posts-seeMore {
        display: flex;
        justify-content:center;
        .posts-seeMore__btn {
            width: 50%;
            height: 30px;
            background-color:rgb(99, 99, 248);
            border-radius:25px;
            color: white;
            cursor: pointer;
        }
    }
}