$backColor : rgb(110, 214, 121);

.goNewSkill {
    width: 100%;
    .goNewSkill-container {
        min-height: 140px;
        border-radius: 20px;
        margin: 10px 10px 0px 10px;
        background-color:white;
        .goNewSkill-container__title {
            padding: 20px 0px 20px 0px;
            text-align: center;
            font-size: 0.8rem;
            color: grey;
        }
        .goNewSkill-container__btn {
            width: 100%;
            height: 70px;
            border-radius:0px 0px 25px 25px;
            background-color:$backColor;
            color: white;
            cursor: pointer;
        }
    }
}