.companyPost {
    width: 45%;
    background-color:white;
    border-radius:25px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    .companyPost-header {
        padding: 10px 10px 10px 10px;
        display: flex;
        width: 100%;
        border-bottom:solid 1px rgb(99, 99, 248);
        .companyPost-header__img {
            width: 50px;
            height: 50px;
            cursor: pointer;   
            img {
                width: 100%;
                height:  100%;
            }
        }
        .companyPost-header__info {
            padding-left: 20px;
            width: 80%;
            h2 {
                color:rgb(99, 99, 248);
                font-size: 1rem;
                cursor: pointer;
            }
            p {
                padding: 2px 0px 2px 0px;
                font-size: 0.8rem;
                cursor: pointer;
                color: grey;
            }
        }
        
    }
    .companyPost-content {
        padding: 10px 10px 10px 10px;
        .companyPost-content__title {
            padding: 10px 10px 10px 10px;
            span {
                display: flex;
                justify-content: end;
                margin-top: 5px;
                color: rgb(99, 99, 248);
                cursor: pointer;
            }
        }
        .companyPost-content__photo {
            img {
                width: 100%;
                max-height:400px;
            }
        }
        .companyPost-content__follow {
            padding: 10px 10px 10px 10px;
            display: flex;
            justify-content: start;
            .companyPost-content__follow-peoples {
                margin-top: 3px;
                margin-left: 10px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .companyPost-content__follow-name {
                margin-left: 10px;
                margin-top: 3px;
                cursor: pointer;
                color: grey;
                font-size: 0.8rem;
            }
            .companyPost-content__follow-icon {
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .companyPost-content__btns {
            margin: 15px 0px 15px 0px;
            .companyPost-content__nav {
                display: flex;
                width: 100%;
                .companyPost-content__item {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 0.8rem;
                    color: grey;
                    .companyPost-content__item-icon {
                        font-size: 0.8rem;
                        color:grey;
                        margin-right: 5px;
                    }
                }
            } 
        }
        .companyPost-content__comment {
            display: flex;
            .companyPost-content__comment-img {
                margin: 10px 10px 10px 10px;
                width: 30px;
                height: 30px;
            }
            .companyPost-content__comment-input {
                border:solid 1px grey;
                border-radius:10px;
                width: 90%;
                cursor:pointer;
                padding: 10px 10px 10px 10px;
            }
            .companyPost-content__comment-btn {
                padding: 10px 10px 10px 10px;
                background-color:white;
                .post-content__comment-icon {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
    }
}

.red {  color:rgb(252, 11, 11);}
.green { color:rgb(9, 247, 9);}
.blue { color:rgb(6, 6, 250);}
