.feed {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0px 20px 0px;
    background-color:rgb(248, 246, 246);
    .feed-container {
        width: 80%;
        display: flex;
        .feed-sidebarLeft {
            width: 22%;
        }
        .feed-content {
            width: 53%;
            .feed-block {
                padding: 0px 20px 10px 20px
            } 
        }
        .feed-sidebarRight {
            width: 25%;
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : lg) and (max-width : $xl) {
    .feed {
        padding: 80px 0px 20px 0px;
        .feed-container {
            width: 90%;
            .feed-container__leftBlock {
                width: 25%;
            }
            .feed-container__content {
                width: 50%;
            }
            .feed-container__rightBlock {
                width: 25%;
            }
        }
    }   
}

@media (min-width : $md) and (max-width : $lg) {
    .feed {
        .feed-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .feed-container__leftBlock {
                width: 30%;
            }
            .feed-container__content {
                width: 70%;
            }
            .feed-container__rightBlock {
                width: 100%;
            }
        }
    }   
}

@media (min-width : $sm) and (max-width : $md) {
    .feed {
        .feed-container {
            .feed-container__leftBlock {
                width: 100%;
                padding: 0px 50px 0px 50px;
            }
            .feed-container__content {
                width: 100%;
                padding: 0px 50px 0px 50px;
            }
            .feed-container__rightBlock {
                width: 100%;
                padding: 0px 50px 0px 50px;
            }
        }
    }   
}

@media (min-width : $xs) and (max-width : $sm) {
    .feed {
        .feed-container {
            .feed-container__leftBlock {
                width: 100%;
                padding: 0px 10px 0px 10px;
            }
            .feed-container__content {
                width: 100%;
                padding: 0px 10px 0px 10px;
            }
            .feed-container__rightBlock {
                width: 100%;
                padding: 0px 10px 0px 10px;
            }
        }
    }   
}