.darkBtn {
    margin: 10px 10px 10px 10px;
    width: 50%;
    background-color:black;
    color: white;
    border-radius:15px;
    height: 25px;
    text-transform: uppercase;
    cursor: pointer;
}