$backColor : rgb(110, 214, 121);

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    .headerUser {
        width: 100vw;
        margin: 0 auto;
        height: 60px;
        background-color:$backColor;
        position: fixed;
        z-index: 1;
        display: none;
        .headerUser-content {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            max-width: 1440px;
            .headerUser-content__logo {
                width: 20%;
                color: white;
                h1 {
                    cursor: pointer;
                    margin: 10px 0px 0px 20px;
                }
            }
            .headerUser-content__search {
                margin-top: 10px;
                .headerUser-content__search-btn {
                    background-color:$backColor;
                    display: flex;
                    .headerUser-content__search-icon {
                        padding: 0px 10px 0px 10px;
                        margin-top: 10px;
                        font-size: 1.3rem;
                        cursor: pointer;
                        color: white;
                    }
                    .headerUser-content__search-input {
                        position: absolute;
                        margin-top: 3px;
                        display: none;
                        height: 35px;
                        border-radius:10px;
                        cursor:pointer;
                        background-color:white;
                    }
                }
            }
            .headerUser-content__nav {
                width: 80%;
                margin-right: 20px;
                .headerUser-content__nav-btn {
                    display: none;
                }
                .headerUser-content__block {
                    display: flex;
                    justify-content:flex-end;
                    .headerUser-content__item{
                        color: white;
                        cursor: pointer;
                        margin: 0px 2px 0px 2px;
                        font-size: 1.3rem;
                        display: flex;
                        .count {
                            background-color:red;
                            border-radius:25px;
                            width: 18px;
                            height: 18px;
                            position: relative;
                            top: 12px;
                            right: 13px;
                            padding-left: 5px;
                            &::before {
                                position: relative;
                                bottom: 45px;
                                right: 4px;
                                content:".";
                                font-size: 4rem;
                            }
                        }
                        .headerUser-content__item-icon {
                            margin: 20px 5px 10px 5px;
                            padding-left: 25px;
                            color:white;
                        }
                        .headerUser-content__item-img {
                            width: 40px;
                            height: 40px;
                            border-radius:50%;
                            margin: 10px 5px 0px 5px;
                        }
                        .headerUser-content__item-btn {
                            text-transform: uppercase;
                            border-radius:15px;
                            padding: 0px 5px 0px 5px;
                            height: 40px;
                            margin-top: 10px;
                            background-color:$backColor;
                            border:solid 1px white;
                            cursor: pointer;
                            color: white;
                            &:hover {
                                background-color:black;
                            }
                            .headerUser-content__btn-icon {
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.headerUser.active {
    display: block;
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $xl) {
    .header {
        .headerUser {
            .headerUser-content {
                .headerUser-content__logo {
                    width: 18%;
                    h1 {
                        margin-top: 13px;
                        font-size: 1.6rem;
                    }
                }
                .headerUser-content__nav {
                    width: 82%;
                }
            }
        }
    }  
}

@media (min-width : $xs) and (max-width : $lg) {
    .header {
        .headerUser {
            .headerUser-content {
                width: 100%;
                .headerUser-content__logo {
                    width: 25% !important;
                    color: white;
                    h1 {
                        margin-top: 18px !important;
                        font-size: 1.3rem !important;
                        cursor: pointer;
                        margin: 10px 0px 0px 20px;
                    }
                }
                .headerUser-content__nav {
                    
                    .headerUser-content__block {
                        .headerUser-content__item{
                            font-size: 1.1rem;
                            margin-top: 2px;
                            .headerUser-content__item-btn {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }  
}

@media (min-width : $xs) and (max-width : $md) {
    .header {
        .headerUser {
            .headerUser-content {
                .headerUser-content__logo {
                    display: none;
                }
                .headerUser-content__nav {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .headerUser-content__block {
                        margin-top: 2px;
                        .headerUser-content__item{
                            font-size: 1rem;
                            .count {
                                width: 15px;
                                height: 15px;
                                top: 13px;
                                right: 10px;
                                &::before {
                                    bottom: 47px;
                                    right: 6px;
                                }
                            }
                            .headerUser-content__item-btn {
                                display: none;
                            }
                            .headerUser-content__item-img {
                                margin-top: 12px;
                                width: 30px;
                                height: 30px;
                            }
                            .headerUser-content__item-icon {
                                margin: 20px 2px 10px 2px;
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media (min-width : $xs) and (max-width : $sm) {
    .header {
        .headerUser {
            .headerUser-content {
                .headerUser-content__search {
                    .headerUser-content__search-btn {
                        .headerUser-content__search-icon {
                            padding: 0px 0px 0px 15px;
                            margin-top: 12px;
                            font-size: 1rem;
                        }
                        .headerUser-content__search-input {
                            
                        }
                    }
                }
                .headerUser-content__nav { 
                    .headerUser-content__block {
                        .item-close {
                            display: none;
                        }
                        .headerUser-content__item{
                            font-size: 0.8rem;
                            margin: 2px 0px 0px 0px;
                            .count {
                                width: 14px;
                                height: 14px;
                                top: 13px;
                                right: 8px;
                                &::before {
                                    bottom: 48px;
                                    right: 6px;
                                }
                            }
                            .headerUser-content__item-img {
                                margin-top: 14px;
                                width: 25px;
                                height: 25px;
                            }
                            .headerUser-content__item-icon {
                                margin: 20px 2px 10px 2px;
                            }
                        }
                    }
                }
            }
        }
    } 
}