.learningItemPageContent {
    padding: 20px 30px 20px 30px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    .learningItemPageContent-container {
        display: flex;
        width: 100%;
        .learningItemPageContent-left {
            width: 70%;
            padding: 10px 10px 10px 10px;
            .learningItemPageContent-left__name {
                padding: 50px 10px 10px 10px;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: bold;
                color: rgb(99, 99, 248);
            }
            .learningItemPageContent-left__info{
                display: flex;
                p {
                    padding: 10px 10px 10px 10px;
                    color: grey;
                    font-size: 1.2rem;
                }
            }
            .learningItemPageContent-left__start {
                cursor: pointer;
                text-decoration: none;
                font-size: 25px;
                color: rgb(44, 231, 91);
                margin-top: 10px;
                padding: 20px 20px;
                position: relative;
                background-color:white;
                border:solid 1px rgb(44, 231, 91);
                &:hover {
                    background-color:rgb(44, 231, 91);
                    color: white;
                }
            }
            .learningItemPageContent-left__star {
                display: flex;
                padding: 10px 10px 10px 10px;
                cursor: pointer;
                .learningItemPageContent-left__star-item {
                    padding: 0px 3px 0px 3px;
                    color:gold;
                }
                p {
                    margin-right: 5px ;
                    color: grey;
                }
            }
        }
        .learningItemPageContent-right {
            width: 30%;
            padding: 10px 10px 10px 10px;
            .learningItemPageContent-right__img {
                width: 100%;
                height: 100%;
            }
        }
    }
}