$backColor : rgb(110, 214, 121);

.modalUser {
    padding: 20px 10px 20px 10px;
    position:absolute;
    width: 20%;
    background-color:$backColor ;
    z-index: 1;
    top: 80px;
    right: 0px;
    border-radius:10px;
    display: none;
    border:solid 1px white;    
    .modalUser-header {
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content: space-between;
        .modalUser-header__img {
            border-radius:50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        .modalUser-block {
            
            .modalUser-block__name{
                font-size: 0.8rem;
                cursor: pointer;
            }
            .modalUser-block__profesisons {
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
        .modalUser-header__close {
            margin-top: 5px;
        }
    }
    .modalUser-page {
        display: flex;
        justify-content: center;
        .modalUser-page__linq {
            width: 100%;
            display: flex;
            justify-content: center;
            .modalUser-page__btn {
                border:solid 1px white;
                background-color:$backColor ;
                color: white;
                width: 80%;
                margin: 5px 0px 5px;
                padding: 5px 0px 5px;
                cursor: pointer;
                &:hover {
                    background-color:black;
                }
            }
        }
    }
    .modalUser-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .modalUser-btns__item {
            margin: 5px 0px 5px;
            border:solid 1px white;
            background-color:$backColor ;
            color: white;
            width: 80%;
            padding: 5px 0px 5px;
            cursor: pointer;
            &:hover {
                background-color:black;
            }
        }
    }
}
.modalUser.active {
    display: block;
}