.content {
    width: 80%;
    margin: 0 auto;
    .content-container {
       
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .content  {
        width: 100%;
    }   
}