.learningItemPageContentComments {
    .learningItemPageContentComments-title {
        font-size: 1.2rem;
        padding: 10px 10px 10px 10px;
    }
    .learningItemPageContentComments-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .learningItemPageContentComments-more {
        width: 100%;
        display: flex;
        justify-content: center;
        .learningItemPageContentComments-more__btn {
            padding: 10px 10px 10px 10px;
            margin-left: 10px;
            margin-top: 10px;
            background-color: white;
            border: solid 1px #6363f8;
            color: #6363f8;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background-color:black;
                color: white;
            }
        }
    }
}