$backColor : rgb(110, 214, 121);

.vacanciesItemPage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 20px 20px;
    background-color:rgb(248, 246, 246);
    .vacanciesItemPage-conatiner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .vacanciesItemPage-conatiner__items {
            width: 40%;
            min-height: 150px;
            border-radius: 20px;
            margin: 10px 10px 0px 10px;
            background-color:white;
            .vacanciesItemPageCollections {
                width: 100%;
                .vacanciesItemPageCollections-title {
                    background-color:$backColor;
                    font-size: 1rem;
                    color: white;
                    text-transform: uppercase;
                    padding: 25px 20px 20px 20px;
                    border-radius:15px 15px 0px 0px;
                }
                .vacanciesItemPageCollections-conatiner {
                    width: 100%;
                    overflow-y:scroll;
                    height: 450px;
                }
            }
        }
        .vacanciesItemPage-conatiner__form {
            width: 60%;
            min-height: 150px;
            border-radius: 20px;
            margin: 10px 10px 0px 10px;
            background-color:white;
        }
    }
}