.messagingUsersContent {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    .messagingUsersContent-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 20px 10px;
        border-right:solid 1px grey;
        border-left:solid 1px grey;
        border-top:solid 1px grey;
        border-radius:10px 10px 0px 0px;
        .messagingUsersContent-header__title {
            font-size: 1.2rem;
            text-transform: uppercase;
            color:grey;
            padding: 5px 5px 5px 5px;
        }
        .messagingUsersContent-header__block {
            padding: 5px 5px 5px 5px;
            .messagingUsersContent-header__message {
                cursor: pointer;
                margin-top: 5px;
                padding-left: 10px;
                font-size: 1rem;
                color:rgb(99, 99, 248);
            }
            .messagingUsersContent-header__bars {
                cursor: pointer;
                margin-top: 5px;
                font-size: 1rem;
                color:rgb(99, 99, 248);
            }
        }
    }
    .messagingUsersContent-search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
        border:solid 1px grey;
        .messagingUsersContent-search__input {
            cursor: pointer;
            width: 80%;
            height: 30px;
            background-color:rgb(216, 213, 213);
        }
        .messagingUsersContent-search__sort {
            cursor: pointer;
            font-size: 1rem;
            margin-top: 7px;
            color:rgb(99, 99, 248);
        }
        .messagingUsersContent-search__icon {
            cursor: pointer;
            font-size: 1rem;
            margin-top: 7px;
            color:rgb(99, 99, 248);
        }
    }
    .messagingUsersContent-users {
        overflow-y: scroll;
        height: 400px;
        border:solid 1px grey;
        border-top:none;
        border-radius:0px 0px 10px 10px;
        padding: 10px 10px 10px 10px;
    }
}