$backColor : rgb(110, 214, 121);

.searchEventsItem {
    width: 100%;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    .searchEventsItem-logo {
        width: 20%;
        width: 50px;
        height: 50px;
        cursor:pointer;
    }
    .searchEventsItem-block {
        width: 60%;
        .searchEventsItem-name {
            font-size: 1rem;
            padding-bottom: 3px;
            cursor:pointer;
        }
        .searchEventsItem-data {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        }
        .searchEventsItem-addres {
            font-size: 1rem;
            padding-bottom: 3px;
            color: grey;
        } 
        .searchEventsItem-desc {
            font-size: 1rem;
            color: grey;
        }
        .searchEventsItem-follower {
            font-size: 1rem;
            color: grey;
        }
    }
    .searchEventsItem-follow {
        width: 20%;
        height: 40px;
        border:solid 1px $backColor;
        background-color:white;
        border-radius:10px;
        color: grey;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color:black;
            color: white;
        }
    }
}