$backColor : rgb(110, 214, 121);

.header {
    max-width:1440px;
    margin: 0 auto;
    height: 80px;
    background-color:$backColor;
    .header-content {
        display: flex;
        justify-content: space-between;
        .header-content__logo {
            color: white;
            flex-basis: 30%;
            justify-content:flex-start;
            h1 {
                cursor: pointer;
                margin: 20px 0px 0px 20px;
            }
        }
        .header-content__nav {
            flex-basis: 60%;
            .header-content__block {
                display: flex;
                justify-content:center;
                .header-content__item{
                    color: white;
                    cursor: pointer;
                    margin: 0px 10px 0px 10px;
                    .header-content__item-icon {
                        margin: 20px 10px 10px 10px;
                        padding-left: 25px;
                        color:white;
                    }
                    .header-content__item-name {
                        text-transform: uppercase;
                    }
                }
            }
        }
        .header-content__btn {
            flex-basis: 20%;
            display: flex;
            justify-content:flex-end;

            button {
                background-color: $backColor;
                border: solid 2px white;
                width: 70%;
                height: 2.5rem;
                border-radius: 25px;
                margin: 20px 30px 30px 10px;
                cursor: pointer;
                color : white;
                text-transform: uppercase;
                &:hover {
                    background-color:rgb(5, 5, 5);
                    color:white;
                    border:solid 2px white;
                }
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .header {
        height: 200px;
        padding-top: 5px;
        .header-content {
            display: block;
            width: 100%;
            .header-content__logo {
                display: flex;
                justify-content: center;
                width: 100%;
                h1 {
                    font-size: 2rem;
                }
            }
            .header-content__nav {
                width: 100%;
            }
            .header-content__btn {
                width: 200px;
                display: flex;
                margin: 0 auto ;
            }
        }
    }
}