.createVacancies {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 30px 20px 30px;
    background-color:rgb(248, 246, 246);
    .createVacancies-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .createVacancies-content{
            width: 60%;   
            .createVacancies-form {
                width: 100%;
                .createVacancies-form__title {
                    padding: 10px 10px 10px 10px;
                    font-size: 1rem;
                    text-transform: uppercase;
                    color: rgb(99, 99, 248);
                }
                .createVacancies-form__block {
                    width: 100%;
                    min-height: 50px;
                    border-radius: 20px;
                    margin: 10px 10px 20px 10px;
                    background-color:white;   
                    padding: 10px 10px 10px 10px;
                    .createVacancies-form__block-content {
                        width: 100%;
                        padding: 10px 10px 10px 10px;
                        .createVacancies-form__label {
                            width: 100%;
                            display: block;
                            padding:15px 0px 15px 0px;
                            color: grey;
                        }
                        .createVacancies-form__input {
                            width: 100%;
                            height: 35px;
                            border-radius:5px;
                            border:solid 1px grey;
                            padding: 5px 0px 5px 0px;
                        }
                        .createCompany-form__message {
                            color: red;
                            padding-bottom: 5px;
                            margin-bottom: 15px;
                            font-weight: bold;
                            text-transform: uppercase;
                            border-bottom:solid 1px grey;
                        }
                        .createVacancies-form__select {
                            width: 100%;
                            height: 25px;
                            border-radius:5px;
                            border:solid 1px grey;
                        }
                        .createVacancies-form__textare {
                            width: 100%;
                            height: 200px;
                            border-radius:5px;
                            border:solid 1px grey;
                        }
                        .createVacancies-form__btns {
                            .createVacancies-form__btns-title {
                                padding: 20px 0px 10px 0px;
                                color: grey;
                            }
                            .createVacancies-form__btns-content {
                                display: flex;
                                width: 100%;
                                border:solid 1px grey;
                                margin-top: 20px;
                                border-radius:10px;
                                flex-wrap: wrap;
                                padding: 10px 0px 10px 0px;
                                .createVacancies-form__btn {
                                    border:solid 1px  rgb(99, 99, 248);
                                    padding: 10px 10px 10px 10px;
                                    margin: 10px 5px 10px 5px;
                                    background-color:black;
                                    color: white;
                                    cursor: pointer;
                                    border-radius:10px;
                                    &::after {
                                        content:"x";
                                        position: relative;
                                        font-size: 1rem;
                                        font-weight: bold;
                                        bottom: 10px;
                                        color: red;
                                        left: 5px;
                                    }
                                    &:hover {
                                        background-color:white;
                                        color: grey;
                                    }
                                }
                                .createVacancies-form__btn-add {
                                    padding: 10px 10px 10px 10px;
                                    margin: 10px 5px 10px 5px;
                                    background-color:white;
                                    color: grey;
                                    cursor: pointer;
                                    border-radius:10px;
                                    background-color: white;
                                    color: white;
                                    display: flex;
                                    border:solid 1px rgb(99, 99, 248);
                                    .createVacancies-form__btn-input {
                                        width: 100%;
                                        height: 100%;
                                    }
                                    .createVacancies-form__btn-icon {
                                        margin-left: 5px;
                                        font-size: 1.2rem;
                                        color: grey;
                                    }
                                }
                            }
                        }
                    }
                    .createVacancies-form__block-confirm {
                        padding: 10px 10px 10px 10px;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        .createVacancies-form__btn {
                            background-color:white;
                            padding-right:10px ;
                            .createVacancies-form__checkbox {
                                cursor: pointer;        
                            }
                        }
                        .createVacancies-form__text {
                            width: 90%;
                            color: rgb(99, 99, 248);
                            text-transform: uppercase;
                        }
                    } 
                }
                .createVacancies-form__sent {
                    min-height: 50px;
                    border-radius: 20px;
                    margin: 10px 10px 20px 10px;
                    background-color:white;   
                    padding: 10px 20px 10px 20px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .createVacancies-form__sent-btn {
                        background-color: rgb(99, 99, 248);
                        padding: 15px 15px 15px 15px;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
        .createVacancies-view {
            width: 30%;
            height: 400px;
            border-radius: 20px;
            margin: 10px 10px 10px 10px;
            background-color:white;      
            padding: 20px 20px 20px 20px;
            
        }
    }
}

