.networkSidebar {
    .networkSidebar-container {
        min-height: 150px;
        border-radius: 20px;
        margin: 10px 10px 0px 10px;
        background-color:white;
        .networkSidebar-contaier__img {
            padding: 20px 10px 10px 10px;
            img {
                width: 100%;
                height: 180px;
            }
        }
        .networkSidebar-block {
            padding: 10px 10px 10px 10px;
            background-color: rgb(99, 99, 248);
            border-radius:0px 0px 25px 25px;
            h2 {
                color:white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.8rem;
                text-align: center;
            }
            .networkSidebar-bar {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px 10px 10px 10px;
                .networkSidebar-bar__item {
                    font-size: 0.8rem;
                    color: white;
                    margin: 3px 3px 3px 3px;
                    cursor: pointer;
                }
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $lg) {
    .networkSidebar {
        display: none;
    }
}