.companyPosts {
    padding-bottom: 30px;
    min-height: 150px;
    border-radius: 20px;
    background-color:white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    .companyPosts-filtr {
        width: 70%;
        margin: 0 auto;
        padding: 20px 30px 20px 30px;
        display: flex;
        justify-content: end;
        .companyPosts-filtr__title {
            color:grey;
        }
        .companyPosts-filtr__category {
            border-radius:10px;
            margin-left: 20px;
            color: grey;
            cursor: pointer;
        }
    }
    
}