.profileUserContactModal {
    position: fixed;
    top:0;
    left: 0;    
    width: 100vw;
    height: 100vw;
    background-color:rgba(0, 0, 0, 0.918);
    display: none;
    .profileUserContactModal-container {
        position: relative;
        top: 150px;
        width: 40%;
        margin: 0 auto;
        height: 300px;
        border-radius: 20px;
        background-color:white;
        .profileUserContactModal-header {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content: space-between;
            .profileUserContactModal-header__title {
                color: black;
                font-size: 1rem;
            }
            .profileUserContactModal-header__icon {
                cursor: pointer;
            }
        }
        .profileUserContactModal-content {
            padding: 15px 15px 15px 15px;
            overflow-y: scroll;
            width: 100%;
            .profileUserContactModal-content__header {
                display: flex;
                justify-content: space-between;
                padding: 10px 10px 10px 10px;
                .profileUserContactModal-content__title {
                    text-align: center;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
                .profileUserContactModal-content__update {
                    cursor: pointer;
                }
            }
            .profileUserContactModal-content__blocks {
                display: flex;
                width: 100%;
                .profileUserContactModal-content__blocks-icon {
                    padding: 15px 15px 15px 15px;
                }
                .profileUserContactModal-content__blocks-logo {
                    padding: 15px 15px 15px 15px;
                }
                .profileUserContactModal-content__block {
                    padding: 5px 5px 5px 5px;
                    width: 70%;
                    .profileUserContactModal-content__block-title {

                    }
                    .profileUserContactModal-content__block-mail {

                    }
                }
            }
        }
        .profileUserContactModal-footer {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content:flex-end;
            .profileUserContactModal-footer__btn {
                cursor: pointer;
                padding: 15px 15px 15px 15px;
                background-color:rgb(99, 99, 248);
                color: white;
                border-radius:10px;
            }
        }
    }
}

.profileUserContactModal.active {
    display: block;
}