.messangingFooter {
    min-height: 150px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    background-color:white;
    padding: 10px 10px 10px 10px;
    .messangingFooter-img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}