.newMessag {
    .newMessag-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 10px;
        border-bottom:solid 1px black;
        .newMessag-header__name {
            margin-top: 3px;
            font-size: 1rem;
        }
        .newMessag-header__img {
            width: 30px;
            height: 30px;
        }
        .newMessag-header__close {
            margin-top: 5px;
        }
    }
    .newMessag-container {
        overflow-y:scroll;
        height: 320px;
        .newMessag-user__insertMess {
            padding: 10px 10px 10px 10px;
            width: 95%;
            position: absolute;
            bottom: 0;
            .newMessag-user__insertMess-text {
                width: 80%;
                border:solid 1px black;
                height: 40px;
                border-radius:10px;
            }
            .newMessag-user__insertMess-sent {
                width: 20%;
                border:solid 1px black;
                height: 40px;
                border-radius:10px;
            }
        }
    }
}