.vacanciesItemPageSendSvModal {
    position: fixed;
    top:0;
    left: 0;    
    width: 100vw;
    height: 100vw;
    background-color:rgba(0, 0, 0, 0.918);
    display: none;
    z-index: 1;
    .vacanciesItemPageSendSvModal-container {
        position: relative;
        top: 70px;
        width: 60%;
        margin: 0 auto;
        height: 500px;
        border-radius: 20px;
        background-color:white;
        .vacanciesItemPageSendSvModal-header {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content: space-between;
            .vacanciesItemPageSendSvModal-header__title {
                color: black;
                font-size: 1rem;
            }
            .vacanciesItemPageSendSvModal-header__icon {
                cursor: pointer;
            }
        }
        .vacanciesItemPageSendSvModal-content {
            padding: 15px 15px 15px 15px;
            height:380px ;
            overflow-y: scroll;
        }
        .vacanciesItemPageSendSvModal-footer {
            padding: 15px 15px 15px 15px;
            display: flex;
            justify-content: end;
            .vacanciesItemPageSendSvModal-footer__btn {
                cursor: pointer;
                padding: 15px 15px 15px 15px;
                background-color:rgb(99, 99, 248);
                color: white;
                border-radius:10px;
            }
        }
    }
}

.vacanciesItemPageSendSvModal.active {
    display: block;
}