$backColor : rgb(110, 214, 121);

.startProject {
    max-width: 1440px;
    margin:100px 0 auto;
    .startProject-content {
        display: flex;
        width: 90%;
        margin: 0 auto;
        min-height: 400px;
        .startProject-block {
            width: 40%;
            .startProject-block__title {
                color:$backColor;
                width: 100%;
                font-size: 2rem;
                text-align: center;
                margin: 80px 0px 50px 0px;
                text-transform: uppercase;
                font-weight: bold;
            }
            .startProject-block__linq {
                background:$backColor ;
                width: 100%;
                margin: 0px 10px 0px 10px;
                border-radius:10px;
                height: 50px;
                color: white;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: bold;
                &:hover {
                    background-color:black;
                }
            }
        }
        .startProject-cover {
            width: 60%;
            .startProject-cover__img {
                width: 100%;
                height:100%;
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $md) {
    .startProject {
        .startProject-content {
            display: block;
            width: 80%;
            margin: 0 auto;
            .startProject-block {
                width: 100%;
                .startProject-block__title {
                    font-size: 1.5rem;
                    text-align: center;
                    margin-bottom: 10px;
                    margin-bottom: 20px;
                }
            }
            .startProject-cover {
                width: 100%;
            }
        }
    }   
}