.search {
    width: 100%;
    padding: 80px 20px 20px 20px;
    background-color:rgb(248, 246, 246);
    .search-navbar {
        width: 100%;
    }
    .search-container {
        width: 100%;
        .search-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .search-block__content {
                width: 60%;
            }
            .search-block__footer{
                width: 30%;
            }
        }
    }
}

$xs:320px; $sm:576px; $md:768px;$lg:992px; $xl:1200px;

@media (min-width : $xs) and (max-width : $lg) {
    .search {
        .search-container {
            width: 100%;
            .search-block {
                width: 100%;
                display: flex;
                .search-block__content {
                    width: 100%;
                }
                .search-block__footer{
                    display: none;
                }
            }
        }
    }        
}

