.search {
    width: 100%;
    padding: 80px 20px 20px 20px;
    background-color:rgb(248, 246, 246);
    .search-navbar {
        width: 100%;
    }
    .search-container {
        width: 100%;
        .search-block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .search-block__content {
                width: 70%;
            }
            .search-block__footer{
                width: 20%;
            }
        }
    }
}